/* ==============================================
Blue Color Skin
=============================================== */
span.red,.nav-menu a:hover,.nav-menu a.active,.main-nav li.active a,
.revslide span,.subs .text h1 span,.mail-message p.mail-head,
.newsletter-message p.mail-head,.post-texts .tags:hover,.sidebar ul li a:hover{color:#2ac5ee;}
.nav-tabs li.active a,.nav-tabs li.active a:hover{border-top:2px solid #2ac5ee;}
#dm_tabs_1 ul.dm_menu_1 li.dm_menu_item_1 a.dm_selected{
border-top: 2px solid #2ac5ee!important;
}
.owl-item .item:hover{border-bottom:4px solid #2ac5ee ;}
.owl-item .item .images a img:hover{border:2px solid #2ac5ee;}
.work-img .button:hover,.subscribe-btn:hover,.form-btn:hover,
.post-img .zoom-button:hover,.pagination li.active a{background:#2ac5ee;	}
.form:focus{border:1px solid #2ac5ee;}


/************/
.main ul li span,.accordion .accordion-head span{color:#2ac5ee;}
.packages .active .circle,.flex-control-paging li a:hover ,
.flex-control-paging li a.flex-active,.btn-post,.btn-post:hover,.comments-link:hover ,.readmore-link:hover{background:#2ac5ee;}

.packages .active .circle:after{border:7px solid #2ac5ee;}
a.p-btn:hover{background:#2ac5ee; border:1px solid #2ac5ee;}
